.icon-img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 5px;
}
.arrow-icon {
  width: 12px;
  height: 12px;
}

.arrow-small {
  width: 10px;
  height: 10px;
  margin-left: 5px;
}
.wrapper {
  margin: 0 auto;
  width: 1240px;
}
/* 专题图标样式 */
.icon-item {
  display: inline-flex;
  align-items: center;
  margin-right: 15px;
}

.icon-item img {
  width: 14px;
  height: 14px;
  margin-right: 3px;
}
/* 搜索图标特殊处理 */
.search img {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}


.shortcut {
  height: 52px;
  background-color: #333;
}
.shortcut .wrapper {
  display: flex;
  justify-content: flex-end;
  height: 52px;
}
.shortcut ul{
  height: 52px;
  display: flex;
}
.shortcut li{
  margin-top: 20px;
  height: 14px;
  padding: 0 15px;
  border-right: 0.5px solid #999;
}
.shortcut li:last-child{
  border: none;
}
.shortcut li a{
  display: block;
  color: #fff;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
}
.shortcut li a:hover{
  color: #5EB69C;
}

.header{
  display: flex;
  height: 88px;
  margin-top: 22px;
  margin-bottom: 22px;
}

.header .logo{
  width: 200px;
  margin-right: 40px;
  background-image: url(../images/logo.png);
}
.header h1 a{
  display: block;
  width: 200px;
  height: 88px;
  font-size: 0;
}

.nav{
  margin-top: 33px;
  margin-right: 28px;
}
.nav ul{
  display: flex;
}
.nav li{
  margin-right: 48px;
}
.nav a{
  display: block;
  padding-bottom: 8px;
}
.nav a:hover{
  border-bottom: 2px solid #5EB69C;
  color: #5EB69C;
}

.search{
  display: flex;
  margin-top: 33px;
  margin-right: 27px;
  width: 170px;
  height: 34px;
  border-bottom: 2px solid #F4F4F4;
  padding-bottom: 4px;
}
.search input{
  width: 0;
  flex: 1;
}
.search input::placeholder{
  color: #ccc;
  height: 22px;
  font-size: 16px;
}

.cart{
  position: relative;
  margin-top: 25px;
}
.cart i{
  position: absolute;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  top: 4px;
  left: 20px;
  padding: 0 7px;
  background-color: #E26237;
  border-radius: 8px;
}
/* 购物车图标特殊处理 */
.cart img {
  width: 24px;
  height: 24px;
  transform: translateY(10px);
}

.footer{
  height: 582px;
  background-color: #f5f5f5;

}

.service{
  height: 179px;
  border-bottom: 1px solid #e8e8e8;
}
.service ul{
  display: flex;
  height: 179px;
  justify-content: space-evenly;
  align-items: center;
}
.service li{
  height: 58px;
  background: url(../images/sprite.png) no-repeat;
  padding-left: 78px;
}
.service li:nth-child(2){
  background-position: 0 -58px;
}
.service li:nth-child(3){
  background-position: 0 -116px;
}
.service li:nth-child(4){
  background-position: 0 -174px;
}
.service h5{
  line-height: 58px;
  font-size: 28px;
}
.service-icon {
  width: 14px;
  height: 14px;
  margin-left: 5px;
}


.help{
  display: flex;
  justify-content: space-between;
  padding-top: 58px;
  height: 302px;
}
.help dt{
  margin-bottom: 20px;
  font-size: 18px;
}
.help dd a{
  line-height: 32px;
  color: #969696;
}
.help dd .iconfont{
  color: #5EB69C;
}
.help .right ul{
  display: flex;
  justify-content: space-between;
  width: 295px;
}
.help .right img{
  width: 120px;
  height: 120px;
  margin-bottom: 8px;
}
.help .right p{
  text-align: center;
  color: #969696;
}

.copyright{
  text-align: center;
}
.copyright p,
.copyright p a{
  color: #A1A1A1;
}
.copyright p{
  margin-bottom: 10px;
}

