.banner{
  background-color: #f5f5f5;
}
.banner .wrapper{
  display: flex;
  position: relative;
}

.subnav{
  width: 250px;
  background-color: rgba(0, 0, 0,0.6);
}
.subnav li{
  display: flex;
  height: 50px;
  padding: 14px 12px 14px 29px;
  position: relative;
  align-items: center;
  transition: background-color 0.3s ease;
  background-color: rgba(255, 255, 255, 0.1);
}
.subnav li:hover {
  background-color: #5EB69C;
}
.subnav a{
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  margin-right: 5px;
}
.subnav h4{
  font-weight: 500;
  font-size: 16px;
  margin-right: 14px;
  color: #fff;
}
/* 修改副导航栏箭头样式 - 白色 */
.subnav .arrow{
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

/* 轮播图样式 */
.pic-container {
  width: 990px;
  height: 500px;
  overflow: hidden;
  position: relative;
}
.pic{
  width: 100%;
  height: 100%;
  position: relative;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.slide.active {
  opacity: 1;
}
.slide img{
  width: 990px;
  height: 500px;
  object-fit: cover;
}

/* 删除圆点相关样式 */

.goods{
  background-color: #fff;
}
.goods .title, .brand .title, .fresh .title{
  display: flex;
  align-items: center;
  position: relative;
}
.goods .title{
  height: 102px;
  margin-top: 10px;
}
.title h3{
  font-size: 30px;
  line-height: 42px;
  margin-right: 35px;
}
.title p,
.title a{
  color: #A1A1A1;
}
.title p{
  position: relative;
  bottom: -8px;
}
.title .all{
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
}
/* 修改查看全部箭头样式 - 灰色 */
.title .all .arrow{
  margin-left: 10px;
  color: #A1A1A1;
  font-size: 14px;
  font-weight: bold;
}

/* 商品区域 */
.goods ul{
  display: flex;
  justify-content: space-between;
}
.goods ul li{
  width: 304px;
}
.goods ul img{
  width: 304px;
  height: 304px;
}
.goods .price{
  height: 100px;
}
.bd .price{
  background-color: #EEF9F4;
}
.goods .price p{
  text-align: center;
  font-size: 22px;
  color: #AA2113;
}
.goods .price a{
  display: block;
  font-size: 20px;
  padding: 17px 0 4px;
}
.recommend .price p{
  font-size: 16px;
  color: #A1A1A1;
  padding-bottom: 6px;
}
.recommend{
  margin-bottom: 60px;
}

/* 热门品牌 */
.brand{
  height: 468px;
  background-color: #f1f1f1;
}
.brand .title{
  height: 122px;
}
.title .jiantou{
  position: absolute;
  right: 0;
  bottom: 15px;
}
.jiantou .arrow-icon{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #e4e4e4;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}
.jiantou .arrow-icon:first-child{
  margin-right: 12px;
}
.jiantou .arrow-icon:hover{
  background-color: #5EB69C;
}
.brand ul{
  display: flex;
  justify-content: space-between;
}
.brand ul li{
  width: 240px;
  height: 306px;
}
.brand ul img{
  width: 240px;
  height: 306px;
}

/* 生鲜 */
.fresh{
  padding-top: 20px;
}
.fresh .title{
  margin-top: 40px;
  margin-bottom: 20px;
  position: relative;
}
.fresh .title ul{
  display: flex;
  position: absolute;
  right: 134px;
}
.fresh .title ul a{
  display: block;
  height: 22px;
  line-height: 22px;
  color: #333;
  padding: 0 7px;
  margin-right: 6px;
}
.fresh .title ul a:hover{
  background-color: #5EB69C;
  color: #fff;
}
.fresh .content{
  display: flex;
}
.fresh .content .left{
  width: 248px;
  height: 610px;
  margin-right: 24px;
}
.fresh .content .left img{
  width: 248px;
  height: 610px;
}
.fresh .content .right ul{
  display: flex;
  width: 968px;
  flex-wrap: wrap;
}
.fresh .content .right li{
  width: 242px;
  height: 305px;
  padding: 0 26px;
}
.fresh .content .right img{
  width: 190px;
  height: 171px;
  margin: 14.5px 0;
}
.fresh .content .right a{
  display: block;
  width: 192px;
  line-height: 19px;
}
.fresh .content .right span{
  font-size: 22px;
  line-height: 45px;
  color: #AF2F22;
}
.fresh .content .right i{
  font-size: 16px;
  margin-right: 4px;
}

/* 最新专题 */
.topic{
  padding-top: 70px;
}
.topic .title{
  margin: 30px 0;
  position: relative;
}
.topic ul{
  height: 395px;
  display: flex;
  justify-content: space-between;
}
.topic li{
  width: 405px;
}
.topic li img{
  display: block;
  width: 405px;
  height: 288px;
  margin-bottom: 23px;
}
.topic div{
  position: relative;
  display: flex;
  justify-content: center;
}
.topic div .icon-item{
  display: inline-flex;
  align-items: center;
  margin: 0 15px;
}
.topic div .icon-item img{
  width: 14px;
  height: 14px;
  margin-right: 3px;
}
.topic div span{
  margin-left: 15px;
  margin-right: 5px;
  font-size: 14px;
  line-height: 20px;
}
.topic div i{
  font-size: 14px;
}